node_modules/
dist/
.env
oracle/server/.env
oracle/server/imports/*.dmp
oracle/server/imports/*.log
oracle/server/imports/*.sql
reference_archives/*.zip
reference_archives/*.fmx
oracle/server/imports/

# Windows build artifacts
dist/
